## Imports

In [1]:
import pandas as pd
import numpy as np

## Read files

In [26]:
city_df = pd.read_csv("data/tab_6_city.csv")
print(len(city_df))
city_df.head()

788

   store_id city_name
0        14    Москва
1        21    Москва
2         1    Москва
3         4    Москва
4         7    Москва

In [30]:
city_df["city_name"].isna().sum()

0

In [56]:
orders_df = pd.read_csv("data/kaggle_tab_1345/tab_1_orders.csv")
orders_df.drop_duplicates(["order_id", "store_id"], inplace=True)
print(len(orders_df))
orders_df.head()

2461927

   user_id  order_id   order_created_time  retailer  store_id platform
0       72  17431000  2020-09-26 10:48:57     METRO        21      app
1       83   9718154  2020-05-08 09:46:18     METRO        87      web
2      142  10056850  2020-05-14 15:06:03     METRO       320      app
3      187  15952443  2020-09-01 17:34:00  ВкусВилл       533      app
4      224  10409918  2020-05-20 06:32:50      Ашан       183      web

In [71]:
orders_df.platform.unique()

array(['app', 'web', 'undefined'], dtype=object)

In [53]:
orders_df[(orders_df["order_id"] == 13176473) & (orders_df["store_id"] == 109)]

        user_id  order_id   order_created_time retailer  store_id   platform
415567   741524  13176473  2020-07-09 11:54:53    METRO       109  undefined
415568   741524  13176473  2020-07-09 11:54:53    METRO       109  undefined

In [ ]:
mask = orders_df.groupby(["order_id", "store_id"])["order_id"].count() > 1

In [47]:
orders_df.groupby(["order_id", "store_id"]).count()[mask]

                   user_id  order_created_time  retailer  platform
order_id store_id
7030288  102             2                   2         2         2
8268394  10              2                   2         2         2
8307763  10              2                   2         2         2
8433561  10              2                   2         2         2
8534025  10              2                   2         2         2
10200945 11              2                   2         2         2
12354606 68              2                   2         2         2
12412493 68              2                   2         2         2
12470303 110             2                   2         2         2
12622417 110             2                   2         2         2
13176473 109             2                   2         2         2
13186375 109             2                   2         2         2
13191861 110             2                   2         2         2
13191902 109             2                   2         2         2
13213800 111             2                   2         2         2
13223820 10              2                   2         2         2
13453637 10              2                   2         2         2
13601735 110             2                   2         2         2
13746950 10              2                   2         2         2
13931349 10              2                   2         2         2
13940800 62              2                   2         2         2
14665849 65              2                   2         2         2
14921236 127             2                   2         2         2
15329880 126             2                   2         2         2
15444997 110             2                   2         2         2
15635883 66              2                   2         2         2
16040482 180             2                   2         2         2
16076319 211             2                   2         2         2
16323542 180             2                   2         2         2
16522043 3               2                   2         2         2
16538548 65              2                   2         2         2

In [38]:
sum(orders_df.groupby("order_id")["order_id"].count() > 3)

15

In [ ]:
orders_df = orders_df.iloc[]

In [31]:
len(orders_df), orders_df["order_id"].nunique()

(2461958, 2426955)

In [4]:
categories_df = pd.read_csv("data/kaggle_tab_1345/tab_3_categories.csv")
print(len(categories_df))
categories_df.head()

1016

   id                         name  parent_id
0   1             Продукты питания          0
1   2        Замороженные продукты          1
2   3  Замороженные овощи и фрукты          2
3   4   Замороженные полуфабрикаты          2
4   5            Рыба замороженная          2

In [5]:
user_df = pd.read_csv("data/kaggle_tab_1345/tab_4_user_profiles.csv")
print(len(user_df))
user_df.head()

438867

   user_id gender       bdate
0  2224890    NaN         NaN
1  1683001   male  1987-10-11
2  2102480    NaN         NaN
3  2224895    NaN         NaN
4   930197    NaN         NaN

In [75]:
user_df.bdate.unique()

array([nan, '1987-10-11', '1982-09-24', ..., '2.5.1996', '1956-01-22',
       '14.8.2002'], dtype=object)

In [24]:
len(user_df), user_df["user_id"].nunique()

(438867, 436927)

In [ ]:
users =

In [6]:
product_df = pd.read_csv("data/kaggle_tab_1345/tab_5_product_properties.csv")
print(len(product_df))
product_df.head()

6990208

   product_id property_name      property_value
0           1           Вес               100 г
1           2           Вид    Молочный напиток
2           2           Вес               100 г
3           2          Вкус             Черника
4           2         Сырье  Натуральное молоко

In [85]:
product_df[product_df.product_id == 4]

   product_id property_name property_value
7           4           Вес          200 г

In [8]:
df_1 = pd.read_csv("data/sbermarket_tab_2_1/tab_2_products_2020-01-01.csv")
print(len(df_1))
df_2 = pd.read_csv("data/sbermarket_tab_2_1/tab_2_products_2020-01-21.csv")
print(len(df_2))
df_3 = pd.read_csv("data/sbermarket_tab_2_1/tab_2_products_2020-01-31.csv")
print(len(df_3))
df_4 = pd.read_csv("data/sbermarket_tab_2_1/tab_2_products_2020-02-10.csv")
print(len(df_4))
df_5 = pd.read_csv("data/sbermarket_tab_2_1/tab_2_products_2020-02-20.csv")
print(len(df_5))

303667
513065
631727
664805
781726

In [78]:
df_1[df_1.order_id == 5354800]

,user_id,order_id,line_item_id,price,quantity,discount,product_name,product_id,brand_name,master_category_id,parent_category_id
0,525,5354800,28381452,116.000000,4,0.000000,Лазанья Золотой Петушок мясной слоеный пирог з...,37548,Золотой Петушок,101.0,99
1,525,5354800,29242911,56.990002,2,13.080000,Хлеб Хлебный Дом Геркулес зерновой с отрубями ...,5636,Хлебный Дом,596.0,51
2,525,5354800,29242919,64.989998,2,40.020000,Тортилья Delicados оригинальная пшеничная,22107,Delicados,596.0,51
3,525,5354800,29243785,44.990002,6,0.000000,Вода питьевая минеральная BonAqua газированная...,2530,BonAqua,77.0,74
4,525,5354800,29244246,65.900002,6,30.990000,"Газированный напиток Mirinda Апельсин 1,5 л",3818486,Mirinda,76.0,74
5,525,5354800,29245495,29.900000,1,39.990002,Помидоры черри красные 250 г,687,Без бренда,85.0,84
6,525,5354800,29245927,239.000000,1,91.000000,Сыр полутвердый Сыробогатов Российский 50% 400...,64913,Сыробогатов,36.0,35
7,525,5354800,29246056,448.459991,1,125.580002,Сосиски Черкизово Молочные по-черкизовски,4372,Черкизово,47.0,42
8,525,5354800,29246248,410.470001,1,188.220001,Колбаса Дымов Праздничная сырокопченая ~590 г,16673,Дымов,45.0,42
9,525,5354800,29246761,38.990002,6,0.000000,Энергетический напиток Monster красный,67252,Monster,634.0,74
10,525,5354800,29246845,46.900002,6,29.100000,Напиток Turbo Energy энергетический безалкогол...,4203439,Turbo Energy,634.0,74
11,525,5354800,29246931,104.900002,2,72.099998,Сок Добрый томат,2303,Добрый,630.0,74
12,525,5354800,29246955,116.000000,4,0.000000,Лазанья Золотой Петушок мясной слоеный пирог з...,37548,Золотой Петушок,101.0,99
13,525,5354800,29272563,69.989998,2,0.000000,Тортилья Horeca Select пшеничная 20 см,16230,Horeca Select,596.0,51

In [77]:
len(df_1), df_1.line_item_id.nunique()

(303667, 303667)

In [81]:
# df_1.master_category_id.unique()

In [76]:
df_1.head()

,user_id,order_id,line_item_id,price,quantity,discount,product_name,product_id,brand_name,master_category_id,parent_category_id
0,525,5354800,28381452,116.000000,4,0.00,Лазанья Золотой Петушок мясной слоеный пирог з...,37548,Золотой Петушок,101.0,99
1,525,5354800,29242911,56.990002,2,13.08,Хлеб Хлебный Дом Геркулес зерновой с отрубями ...,5636,Хлебный Дом,596.0,51
2,525,5354800,29242919,64.989998,2,40.02,Тортилья Delicados оригинальная пшеничная,22107,Delicados,596.0,51
3,525,5354800,29243785,44.990002,6,0.00,Вода питьевая минеральная BonAqua газированная...,2530,BonAqua,77.0,74
4,525,5354800,29244246,65.900002,6,30.99,"Газированный напиток Mirinda Апельсин 1,5 л",3818486,Mirinda,76.0,74

In [9]:
df_6 = pd.read_csv("data/sbermarket_tab_2_1/tab_2_products_2020-03-01.csv")
print(len(df_6))
df_7 = pd.read_csv("data/sbermarket_tab_2_1/tab_2_products_2020-03-11.csv")
print(len(df_7))
df_8 = pd.read_csv("data/sbermarket_tab_2_1/tab_2_products_2020-03-21.csv")
print(len(df_8))
df_9 = pd.read_csv("data/sbermarket_tab_2_1/tab_2_products_2020-03-31.csv")
print(len(df_9))

790429
1304507
1588400
2011974

In [225]:
submission_df = pd.read_csv("data/sample_submission.csv")
test_user_ids = submission_df.Id
# submission_df.head()

     Id                                          Predicted
0    51  3239211 10720024 8493844 1965540 5009002 95218...
1    65  11693356 13392267 2464515 2245175 4748570 1134...
2   766  12773054 3692749 12726751 10041624 11893515 23...
3  1132  8613934 3599065 575614 4821474 11609320 699047...
4  1578  289404 4328240 3129788 9390886 11166655 173077...

In [227]:

len(test_user_ids)

107068

In [22]:
len(submission_df), submission_df["Id"].nunique()

(107068, 107068)

# Merge table

In [281]:
import datetime 
def replace_date(date_str):
    if len(date_str) < 8:
        return '2020-10-09'
    else:
        return date_str

def str2date(date_str):
    try:
        date = datetime.datetime.strptime(date_str, '%Y-%m-%d')
    except:
        date = datetime.datetime.strptime(date_str, '%d.%m.%Y')
    return date

def calculate_age(born):
    today = date.today()
    age = today.year - born.year - ((today.month, today.day) < (born.month, born.day))
    if age < 15 or age > 60:
        age = 0
    return age

user_df = pd.read_csv("data/kaggle_tab_1345/tab_4_user_profiles.csv")
print(len(user_df))

# Drop NaNs
user_df.dropna(inplace=True)

# # Fill NaNs
# user_df.bdate.fillna('2020-10-09', inplace=True)

user_df = user_df[user_df.user_id.isin(test_user_ids)]

# Replace incorrect dates
user_df.bdate = user_df.bdate.map(lambda x: replace_date(x))
# Convert all dates to datetime object
user_df.bdate = user_df.bdate.map(lambda x: str2date(x))
# Add new column with age
user_df["age"] = user_df.bdate.map(lambda x: calculate_age(x))
user_df.gender = user_df.gender.astype('category').cat.codes
user_df.drop_duplicates("user_id", inplace=True)
print(len(user_df))
user_df.head()

438867
8335

    user_id  gender      bdate  age
10  1288925       1 1982-09-24   38
43  1780454       0 1948-01-10    0
48   534410       0 1990-10-31   29
73  1050790       0 1986-11-22   33
85  2119485       0 1992-05-10   28

In [282]:
# Read and convert city names to category labels
city_df = pd.read_csv("data/tab_6_city.csv")
city_df.city_name = city_df.city_name.astype('category').cat.codes
city_df.head()

   store_id  city_name
0        14         45
1        21         45
2         1         45
3         4         45
4         7         45

In [336]:
orders_df = pd.read_csv("data/kaggle_tab_1345/tab_1_orders.csv")
orders_df.drop_duplicates(["order_id", "store_id"], inplace=True)
orders_df.retailer = orders_df.retailer.astype('category').cat.codes
orders_df.platform = orders_df.platform.astype('category').cat.codes

# print(len(orders_df))
# orders_df.head()

# Merge city data
orders_df = orders_df.set_index('store_id').join(city_df.set_index('store_id'))
print(len(orders_df), "diff:", len(orders_df) - 2461927)

# Merge user data
orders_df = orders_df.set_index('user_id').join(user_df.set_index('user_id'))
orders_df.drop_duplicates("order_id", inplace=True)
print(len(orders_df), "diff:", len(orders_df) - 2461927)

2461927 diff: 0
2426955 diff: -34972

In [290]:
# Users from users_df and users from test_df?
# test_user_ids.unique
# user_id_users
orders_df.head()

,order_id,order_created_time,retailer,platform,city_name,gender,bdate,age
user_id,,,,,,,,
72,17431000,2020-09-26 10:48:57,4,0,45,NaN,NaT,NaN
83,9718154,2020-05-08 09:46:18,4,2,46,NaN,NaT,NaN
142,10056850,2020-05-14 15:06:03,4,0,46,NaN,NaT,NaN
187,15952443,2020-09-01 17:34:00,21,0,45,NaN,NaT,NaN
224,10409918,2020-05-20 06:32:50,13,2,45,NaN,NaT,NaN

In [335]:
len(orders_df), orders_df.order_id.nunique()

(2461927, 2426955)

## Merge products table into one, by first filtering everyone else

In [292]:
from pathlib import Path

In [329]:
pathes = sorted(list(Path("data/").glob('*/tab_2*.csv')))
dfs = []
total_count = 0
for path in pathes:
    # Read DF
    df = pd.read_csv(path)
#     print("Before:", len(df))
    
    # Filter and delete users not from test
    df = df[df.user_id.isin(test_user_ids)]

    # Drop column with long desciption
    df.drop(columns=["product_name"], inplace=True)
    
    # Label code column
    df.brand_name = df.brand_name.astype('category').cat.codes
    
    # Fill NaNs in one column
    df.master_category_id.fillna(-1, inplace=True)

    total_count = total_count + len(df)
    dfs.append(df)
    
#     print("After:", len(df))

print("Total:", total_count)

Total: 21677070

In [337]:
merged_df = pd.concat(dfs)

In [333]:
merged_df

,user_id,order_id,line_item_id,price,quantity,discount,product_id,brand_name,master_category_id,parent_category_id
14,766,5395508,28998751,24.270000,3,0.000000,3069043,2260,77.0,74
15,766,5395508,28998796,79.300003,3,0.000000,3041849,1856,26.0,20
16,766,5395508,28999083,76.620003,5,15.070000,216,1375,607.0,20
17,766,5395508,28999153,72.180000,1,19.540001,1990,1292,32.0,20
18,766,5395508,28999278,142.500000,3,0.000000,3883053,1397,31.0,20
...,...,...,...,...,...,...,...,...,...,...
3167876,3142875,15626637,173268439,69.290001,1,28.500000,67694,1533,577.0,9
3167877,3142875,15626637,173268681,109.889999,1,39.900002,68465,2631,222.0,221
3167878,3142875,15626637,173270630,185.990005,2,125.599998,5075130,2032,347.0,345
3167879,3142875,15626637,173446934,185.990005,1,125.599998,9741,2032,347.0,345
3167880,3142875,15626637,173447186,185.990005,1,125.599998,9741,2032,347.0,345

In [338]:
merged_df = merged_df.set_index('order_id').join(orders_df.set_index('order_id'))
print(len(merged_df) - 21677070)

0

In [341]:
len(merged_df)

21677070

In [342]:
merged_df.dtypes

user_id                        int64
line_item_id                   int64
price                        float64
quantity                       int64
discount                     float64
product_id                     int64
brand_name                     int16
master_category_id           float64
parent_category_id             int64
order_created_time            object
retailer                     float64
platform                     float64
city_name                    float64
gender                       float64
bdate                 datetime64[ns]
age                          float64
dtype: object

In [340]:
merged_df.to_csv("data/merged_data.csv")

In [339]:
merged_df.head()

,user_id,line_item_id,price,quantity,discount,product_id,brand_name,master_category_id,parent_category_id,order_created_time,retailer,platform,city_name,gender,bdate,age
order_id,,,,,,,,,,,,,,,,
139128,1050,97633689,236.889999,1,0.0,5045454,3573,122.0,119,NaN,NaN,NaN,NaN,NaN,NaT,NaN
139128,1050,97633791,178.160004,1,0.0,73719,5154,122.0,119,NaN,NaN,NaN,NaN,NaN,NaT,NaN
139128,1050,97635201,173.279999,1,0.0,7000939,2846,85.0,84,NaN,NaN,NaN,NaN,NaN,NaT,NaN
139128,1050,97635312,73.690002,1,0.0,7386015,3342,85.0,84,NaN,NaN,NaN,NaN,NaN,NaT,NaN
139128,1050,97635414,282.140015,1,0.0,73291,2846,85.0,84,NaN,NaN,NaN,NaN,NaN,NaT,NaN

In [ ]:
21677070
22228585

user_id                 int32
order_id                int32
line_item_id            int64
price                 float32
quantity                int32
discount              float32
product_id              int32
brand_name              int32
master_category_id      int32
parent_category_id      int32
dtype: object

In [188]:
orders_df.join(city_df, on=["store_id"], how='left', lsuffix='l_')

,user_id,order_id,order_created_time,retailer,store_idl_,platform,store_id,city_name
0,72,17431000,2020-09-26 10:48:57,4,21,0,73.0,45.0
1,83,9718154,2020-05-08 09:46:18,4,87,2,327.0,46.0
2,142,10056850,2020-05-14 15:06:03,4,320,0,345.0,45.0
3,187,15952443,2020-09-01 17:34:00,21,533,0,578.0,24.0
4,224,10409918,2020-05-20 06:32:50,13,183,2,533.0,45.0
...,...,...,...,...,...,...,...,...
2461953,3432957,15948419,2020-09-01 15:41:27,32,218,0,246.0,45.0
2461954,3432966,16855344,2020-09-17 10:16:16,32,130,0,166.0,51.0
2461955,3432977,9214726,2020-04-29 10:09:37,32,373,0,72.0,45.0
2461956,3433000,17739392,2020-09-30 09:18:19,32,781,1,807.0,45.0
2461957,3433023,10205918,2020-05-16 22:33:20,4,189,0,766.0,55.0