## Imports

In [1]:
import pandas as pd
import numpy as np

## Read files

In [26]:
city_df = pd.read_csv("data/tab_6_city.csv")
print(len(city_df))
city_df.head()

788

   store_id city_name
0        14    Москва
1        21    Москва
2         1    Москва
3         4    Москва
4         7    Москва

In [30]:
city_df["city_name"].isna().sum()

0

In [56]:
orders_df = pd.read_csv("data/kaggle_tab_1345/tab_1_orders.csv")
orders_df.drop_duplicates(["order_id", "store_id"], inplace=True)
print(len(orders_df))
orders_df.head()

2461927

   user_id  order_id   order_created_time  retailer  store_id platform
0       72  17431000  2020-09-26 10:48:57     METRO        21      app
1       83   9718154  2020-05-08 09:46:18     METRO        87      web
2      142  10056850  2020-05-14 15:06:03     METRO       320      app
3      187  15952443  2020-09-01 17:34:00  ВкусВилл       533      app
4      224  10409918  2020-05-20 06:32:50      Ашан       183      web

In [71]:
orders_df.platform.unique()

array(['app', 'web', 'undefined'], dtype=object)

In [53]:
orders_df[(orders_df["order_id"] == 13176473) & (orders_df["store_id"] == 109)]

        user_id  order_id   order_created_time retailer  store_id   platform
415567   741524  13176473  2020-07-09 11:54:53    METRO       109  undefined
415568   741524  13176473  2020-07-09 11:54:53    METRO       109  undefined

In [ ]:
mask = orders_df.groupby(["order_id", "store_id"])["order_id"].count() > 1

In [47]:
orders_df.groupby(["order_id", "store_id"]).count()[mask]

                   user_id  order_created_time  retailer  platform
order_id store_id
7030288  102             2                   2         2         2
8268394  10              2                   2         2         2
8307763  10              2                   2         2         2
8433561  10              2                   2         2         2
8534025  10              2                   2         2         2
10200945 11              2                   2         2         2
12354606 68              2                   2         2         2
12412493 68              2                   2         2         2
12470303 110             2                   2         2         2
12622417 110             2                   2         2         2
13176473 109             2                   2         2         2
13186375 109             2                   2         2         2
13191861 110             2                   2         2         2
13191902 109             2                   2         2         2
13213800 111             2                   2         2         2
13223820 10              2                   2         2         2
13453637 10              2                   2         2         2
13601735 110             2                   2         2         2
13746950 10              2                   2         2         2
13931349 10              2                   2         2         2
13940800 62              2                   2         2         2
14665849 65              2                   2         2         2
14921236 127             2                   2         2         2
15329880 126             2                   2         2         2
15444997 110             2                   2         2         2
15635883 66              2                   2         2         2
16040482 180             2                   2         2         2
16076319 211             2                   2         2         2
16323542 180             2                   2         2         2
16522043 3               2                   2         2         2
16538548 65              2                   2         2         2

In [38]:
sum(orders_df.groupby("order_id")["order_id"].count() > 3)

15

In [ ]:
orders_df = orders_df.iloc[]

In [31]:
len(orders_df), orders_df["order_id"].nunique()

(2461958, 2426955)

In [4]:
categories_df = pd.read_csv("data/kaggle_tab_1345/tab_3_categories.csv")
print(len(categories_df))
categories_df.head()

1016

   id                         name  parent_id
0   1             Продукты питания          0
1   2        Замороженные продукты          1
2   3  Замороженные овощи и фрукты          2
3   4   Замороженные полуфабрикаты          2
4   5            Рыба замороженная          2

In [5]:
user_df = pd.read_csv("data/kaggle_tab_1345/tab_4_user_profiles.csv")
print(len(user_df))
user_df.head()

438867

   user_id gender       bdate
0  2224890    NaN         NaN
1  1683001   male  1987-10-11
2  2102480    NaN         NaN
3  2224895    NaN         NaN
4   930197    NaN         NaN

In [75]:
user_df.bdate.unique()

array([nan, '1987-10-11', '1982-09-24', ..., '2.5.1996', '1956-01-22',
       '14.8.2002'], dtype=object)

In [24]:
len(user_df), user_df["user_id"].nunique()

(438867, 436927)

In [ ]:
users =

In [6]:
product_df = pd.read_csv("data/kaggle_tab_1345/tab_5_product_properties.csv")
print(len(product_df))
product_df.head()

6990208

   product_id property_name      property_value
0           1           Вес               100 г
1           2           Вид    Молочный напиток
2           2           Вес               100 г
3           2          Вкус             Черника
4           2         Сырье  Натуральное молоко

In [85]:
product_df[product_df.product_id == 4]

   product_id property_name property_value
7           4           Вес          200 г

In [225]:
submission_df = pd.read_csv("data/sample_submission.csv")
test_user_ids = submission_df.Id
# submission_df.head()

     Id                                          Predicted
0    51  3239211 10720024 8493844 1965540 5009002 95218...
1    65  11693356 13392267 2464515 2245175 4748570 1134...
2   766  12773054 3692749 12726751 10041624 11893515 23...
3  1132  8613934 3599065 575614 4821474 11609320 699047...
4  1578  289404 4328240 3129788 9390886 11166655 173077...

In [227]:

len(test_user_ids)

107068

In [22]:
len(submission_df), submission_df["Id"].nunique()

(107068, 107068)

# Merge table

In [347]:
merged_df.reset_index()

,order_id,user_id,line_item_id,price,quantity,discount,product_id,brand_name,master_category_id,parent_category_id,order_created_time,retailer,platform,city_name,gender,bdate,age
0,139128,1050,97633689,236.889999,1,0.000000,5045454,3573,122.0,119,NaN,NaN,NaN,NaN,NaN,NaT,NaN
1,139128,1050,97633791,178.160004,1,0.000000,73719,5154,122.0,119,NaN,NaN,NaN,NaN,NaN,NaT,NaN
2,139128,1050,97635201,173.279999,1,0.000000,7000939,2846,85.0,84,NaN,NaN,NaN,NaN,NaN,NaT,NaN
3,139128,1050,97635312,73.690002,1,0.000000,7386015,3342,85.0,84,NaN,NaN,NaN,NaN,NaN,NaT,NaN
4,139128,1050,97635414,282.140015,1,0.000000,73291,2846,85.0,84,NaN,NaN,NaN,NaN,NaN,NaT,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21677065,16831178,2418239,173272147,73.690002,2,0.000000,6782753,4023,596.0,51,2020-09-16 22:57:36,32.0,0.0,72.0,1.0,1997-11-08,22.0
21677066,16831178,2418239,173272148,105.190002,1,0.000000,7014966,4023,642.0,99,2020-09-16 22:57:36,32.0,0.0,72.0,1.0,1997-11-08,22.0
21677067,16831178,2418239,173272149,109.889999,1,42.799999,101253,1427,610.0,19,2020-09-16 22:57:36,32.0,0.0,72.0,1.0,1997-11-08,22.0
21677068,16831178,2418239,173272150,154.990005,1,165.000000,5629995,286,643.0,99,2020-09-16 22:57:36,32.0,0.0,72.0,1.0,1997-11-08,22.0
21677069,16831178,2418239,173272175,154.990005,1,165.000000,5629993,286,643.0,99,2020-09-16 22:57:36,32.0,0.0,72.0,1.0,1997-11-08,22.0

In [ ]:
merged_

In [344]:
generated_df = pd.read_csv("data/merged_data.csv")

In [345]:
generated_df

,Unnamed: 0,order_id,user_id,line_item_id,price,quantity,discount,product_id,brand_name,master_category_id,parent_category_id,order_created_time,retailer,platform,city_name,gender,bdate,age
0,0,139128,1050,97633689,236.89,1,0.0,5045454,3573,122,119,-1,-1,-1,-1,-1,-1,-1
1,1,139128,1050,97633791,178.16,1,0.0,73719,5154,122,119,-1,-1,-1,-1,-1,-1,-1
2,2,139128,1050,97635201,173.28,1,0.0,7000939,2846,85,84,-1,-1,-1,-1,-1,-1,-1
3,3,139128,1050,97635312,73.69,1,0.0,7386015,3342,85,84,-1,-1,-1,-1,-1,-1,-1
4,4,139128,1050,97635414,282.14,1,0.0,73291,2846,85,84,-1,-1,-1,-1,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21677065,21677065,16831178,2418239,173272147,73.69,2,0.0,6782753,4023,596,51,2020-09-16 22:57:36,32,0,72,1,1997-11-08 00:00:00,22
21677066,21677066,16831178,2418239,173272148,105.19,1,0.0,7014966,4023,642,99,2020-09-16 22:57:36,32,0,72,1,1997-11-08 00:00:00,22
21677067,21677067,16831178,2418239,173272149,109.89,1,42.8,101253,1427,610,19,2020-09-16 22:57:36,32,0,72,1,1997-11-08 00:00:00,22
21677068,21677068,16831178,2418239,173272150,154.99,1,165.0,5629995,286,643,99,2020-09-16 22:57:36,32,0,72,1,1997-11-08 00:00:00,22
21677069,21677069,16831178,2418239,173272175,154.99,1,165.0,5629993,286,643,99,2020-09-16 22:57:36,32,0,72,1,1997-11-08 00:00:00,22

In [ ]:
for user in test_user_ids_