In [ ]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.8)
Requirement already satisfied: slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (0.0.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.0.1)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.41.1)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2020.6.20)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.8.1)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.10)

In [ ]:
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"rollov","key":"6cd57d0a043c018341ff5e0c9c5f2817"}'}

In [ ]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/

!chmod 600 ~/.kaggle/kaggle.json

In [ ]:
!kaggle competitions download -c test-recsys

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
Downloading tab_2_products_2020-04-20.csv.zip to /content
 82% 89.0M/108M [00:02<00:01, 17.2MB/s]
100% 108M/108M [00:03<00:00, 37.0MB/s]
Downloading tab_2_products_2020-04-30.csv.zip to /content
 98% 135M/137M [00:02<00:00, 40.2MB/s]
100% 137M/137M [00:02<00:00, 62.0MB/s]
Downloading tab_2_products_2020-04-10.csv.zip to /content
 93% 89.0M/96.2M [00:01<00:00, 44.2MB/s]
100% 96.2M/96.2M [00:01<00:00, 55.4MB/s]
Downloading tab_2_products_2020-05-30.csv.zip to /content
 93% 139M/150M [00:02<00:00, 41.3MB/s]
100% 150M/150M [00:02<00:00, 55.8MB/s]
Downloading tab_2_products_2020-05-20.csv.zip to /content
 93% 144M/156M [00:03<00:00, 35.1MB/s]
100% 156M/156M [00:03<00:00, 45.9MB/s]
Downloading tab_2_products_2020-05-10.csv.zip to /content
 91% 130M/144M [00:03<00:00, 32.5MB/s]
100% 144M/144M [00:03<00:00, 44.3MB/s]
Downloading tab_2_products_2020-01-31.csv.zip to /content
 39% 9.00M/23.2M [00:00<00:00, 24.5MB/s]
100% 23.2M/23.2M [00:00<00:00, 47.3MB/s]
Downloading tab_2_products_2020-03-01.csv.zip to /content
 31% 9.00M/29.4M [00:00<00:00, 25.8MB/s]
100% 29.4M/29.4M [00:00<00:00, 66.1MB/s]
Downloading tab_2_products_2020-03-21.csv.zip to /content
 76% 45.0M/59.0M [00:01<00:00, 20.2MB/s]
100% 59.0M/59.0M [00:01<00:00, 43.7MB/s]
Downloading tab_2_products_2020-02-20.csv.zip to /content
 31% 9.00M/29.0M [00:00<00:00, 25.8MB/s]
100% 29.0M/29.0M [00:00<00:00, 65.4MB/s]
Downloading tab_2_products_2020-02-10.csv.zip to /content
 36% 9.00M/24.8M [00:00<00:00, 24.4MB/s]
100% 24.8M/24.8M [00:00<00:00, 55.9MB/s]
Downloading tab_2_products_2020-03-11.csv.zip to /content
 85% 41.0M/48.0M [00:01<00:00, 22.0MB/s]
100% 48.0M/48.0M [00:01<00:00, 33.2MB/s]
Downloading tab_2_products_2020-03-31.csv.zip to /content
 76% 57.0M/74.7M [00:00<00:00, 45.9MB/s]
100% 74.7M/74.7M [00:00<00:00, 90.4MB/s]
Downloading tab_2_products_2020-01-01.csv.zip to /content
 80% 9.00M/11.2M [00:00<00:00, 13.9MB/s]
100% 11.2M/11.2M [00:00<00:00, 13.6MB/s]
Downloading tab_2_products_2020-01-21.csv.zip to /content
 27% 5.00M/18.8M [00:00<00:00, 17.6MB/s]
100% 18.8M/18.8M [00:00<00:00, 47.4MB/s]
Downloading tab_2_products_2020-01-11.csv.zip to /content
 31% 5.00M/16.1M [00:00<00:00, 17.5MB/s]
100% 16.1M/16.1M [00:00<00:00, 40.8MB/s]
Downloading tab_2_products_2020-07-29.csv.zip to /content
 91% 95.0M/104M [00:01<00:00, 42.2MB/s]
100% 104M/104M [00:01<00:00, 63.4MB/s]
Downloading tab_2_products_2020-07-19.csv.zip to /content
 98% 102M/104M [00:01<00:00, 52.8MB/s]
100% 104M/104M [00:01<00:00, 72.1MB/s]
Downloading tab_2_products_2020-07-09.csv.zip to /content
 94% 105M/112M [00:02<00:00, 29.7MB/s]
100% 112M/112M [00:02<00:00, 46.5MB/s]
Downloading tab_2_products_2020-08-18.csv.zip to /content
 94% 105M/111M [00:01<00:00, 80.6MB/s]
100% 111M/111M [00:01<00:00, 85.3MB/s]
Downloading tab_2_products_2020-08-28.csv.zip to /content
 95% 114M/120M [00:02<00:00, 34.5MB/s]
100% 120M/120M [00:02<00:00, 56.5MB/s]
Downloading tab_2_products_2020-09-07.csv.zip to /content
 99% 121M/123M [00:01<00:00, 53.3MB/s]
100% 123M/123M [00:01<00:00, 65.3MB/s]
Downloading tab_2_products_2020-08-08.csv.zip to /content
 90% 98.0M/109M [00:01<00:00, 38.5MB/s]
100% 109M/109M [00:01<00:00, 64.4MB/s]
Downloading tab_2_products_2020-06-09.csv.zip to /content
 96% 123M/128M [00:02<00:00, 47.6MB/s]
100% 128M/128M [00:02<00:00, 60.4MB/s]
Downloading tab_2_products_2020-06-19.csv.zip to /content
 96% 107M/111M [00:02<00:00, 35.0MB/s]
100% 111M/111M [00:02<00:00, 45.4MB/s]
Downloading tab_2_products_2020-06-29.csv.zip to /content
 81% 83.0M/103M [00:01<00:00, 34.7MB/s]
100% 103M/103M [00:01<00:00, 62.9MB/s]
Downloading tab_5_product_properties.csv.zip to /content
 90% 50.0M/55.6M [00:01<00:00, 31.4MB/s]
100% 55.6M/55.6M [00:01<00:00, 49.9MB/s]
Downloading tab_4_user_profiles.csv.zip to /content
  0% 0.00/1.94M [00:00<?, ?B/s]
100% 1.94M/1.94M [00:00<00:00, 279MB/s]
Downloading tab_1_orders.csv.zip to /content
 54% 17.0M/31.3M [00:00<00:00, 21.2MB/s]
100% 31.3M/31.3M [00:00<00:00, 33.9MB/s]
Downloading tab_3_categories.csv to /content
  0% 0.00/44.3k [00:00<?, ?B/s]
100% 44.3k/44.3k [00:00<00:00, 45.7MB/s]
Downloading tab_6_city.csv to /content
  0% 0.00/16.2k [00:00<?, ?B/s]
100% 16.2k/16.2k [00:00<00:00, 16.7MB/s]
Downloading sample_submission.csv.zip to /content
 24% 5.00M/20.4M [00:00<00:00, 20.9MB/s]
100% 20.4M/20.4M [00:00<00:00, 68.0MB/s]

In [ ]:
from zipfile import ZipFile

file_name = "tab_5_product_properties.csv.zip"

with ZipFile(file_name, 'r') as zip:
  zip.extractall()
  print('Done')

Done

In [ ]:
import os, fnmatch

tab_2_array = fnmatch.filter(os.listdir('.'), 'tab_2*')

k = 1
for tab_2 in tab_2_array:
  with ZipFile(tab_2, 'r') as zip:
    zip.extractall()
    print(f'Left: ' + str(len(tab_2_array) - k))
    k += 1

Left: 25
Left: 24
Left: 23
Left: 22
Left: 21
Left: 20
Left: 19
Left: 18
Left: 17
Left: 16
Left: 15
Left: 14
Left: 13
Left: 12
Left: 11
Left: 10
Left: 9
Left: 8
Left: 7
Left: 6
Left: 5
Left: 4
Left: 3
Left: 2
Left: 1
Left: 0

In [ ]:
import pandas as pd
import numpy as np

TAB_1_ORDERS

In [81]:
tab_1_orders = pd.read_csv('/content/tab_1_orders.csv')
tab_6_city = pd.read_csv('/content/tab_6_city.csv')
tab_1_orders = tab_1_orders.merge(tab_6_city, left_on='store_id', right_on='store_id')
tab_1_orders.shape

(2461958, 7)

In [82]:
tab_1_orders.head()

   user_id  order_id   order_created_time retailer  store_id platform city_name
0       72  17431000  2020-09-26 10:48:57    METRO        21      app    Москва
1     1474  10066159  2020-05-14 17:35:58    METRO        21      app    Москва
2     1474  10083198  2020-05-15 04:40:50    METRO        21      app    Москва
3     1474  15090928  2020-08-16 09:32:13    METRO        21      app    Москва
4     2657   7652238  2020-03-29 19:44:24    METRO        21      app    Москва

TAB_3_CATEGORIES

In [83]:
tab_3_categories = pd.read_csv('/content/tab_3_categories.csv')
tab_3_categories.shape

(1016, 3)

In [84]:
tab_3_categories.head()

   id                         name  parent_id
0   1             Продукты питания          0
1   2        Замороженные продукты          1
2   3  Замороженные овощи и фрукты          2
3   4   Замороженные полуфабрикаты          2
4   5            Рыба замороженная          2

TAB_4_USER_PROFILES

In [85]:
tab_4_user_profiles = pd.read_csv('/content/tab_4_user_profiles.csv')
tab_4_user_profiles.shape

(438867, 3)

In [86]:
tab_4_user_profiles.head()

   user_id gender       bdate
0  2224890    NaN         NaN
1  1683001   male  1987-10-11
2  2102480    NaN         NaN
3  2224895    NaN         NaN
4   930197    NaN         NaN

TAB_5_PRODUCT_PROPERTIES

In [87]:
tab_5_product_properties = pd.read_csv('/content/tab_5_product_properties.csv')
tab_5_product_properties.shape

(6990208, 3)

In [88]:
tab_5_product_properties.head()

   product_id property_name      property_value
0           1           Вес               100 г
1           2           Вид    Молочный напиток
2           2           Вес               100 г
3           2          Вкус             Черника
4           2         Сырье  Натуральное молоко

TAB_2_PRODUCTS

In [89]:
tab_2_products = pd.read_csv('/content/tab_2_products_2020-01-01.csv')
tab_2_products.shape

(303667, 11)

In [90]:
tab_2_products.head()

   user_id  order_id  ...  master_category_id  parent_category_id
0      525   5354800  ...               101.0                  99
1      525   5354800  ...               596.0                  51
2      525   5354800  ...               596.0                  51
3      525   5354800  ...                77.0                  74
4      525   5354800  ...                76.0                  74

[5 rows x 11 columns]

In [93]:
tab_1_orders

         user_id  order_id   order_created_time  ... store_id   platform city_name
0             72  17431000  2020-09-26 10:48:57  ...       21        app    Москва
1           1474  10066159  2020-05-14 17:35:58  ...       21        app    Москва
2           1474  10083198  2020-05-15 04:40:50  ...       21        app    Москва
3           1474  15090928  2020-08-16 09:32:13  ...       21        app    Москва
4           2657   7652238  2020-03-29 19:44:24  ...       21        app    Москва
...          ...       ...                  ...  ...      ...        ...       ...
2461953  3383197  17826259  2020-10-01 14:22:41  ...      809  undefined    Москва
2461954  3383198  17826253  2020-10-01 14:22:38  ...      810  undefined    Москва
2461955  3383199  17826297  2020-10-01 14:23:13  ...      812  undefined    Москва
2461956  3383200  17826292  2020-10-01 14:23:09  ...      814  undefined    Москва
2461957  3383203  17826280  2020-10-01 14:23:02  ...      816  undefined    Москва

[2461958 rows x 7 columns]

In [95]:
import datetime

tab_1_orders['order_created_time'] = tab_1_orders['order_created_time'].apply(lambda x: datetime.datetime.strptime(x, '%Y-%m-%d %H:%M:%S'))

In [96]:
tab_1_orders.user_id.nunique()

753572

In [101]:
tab_2_products.groupby(['user_id'])['product_id'].count().sort_values()

user_id
693691      1
479035      1
473829      1
719162      1
702954      1
         ...
222648    165
724561    168
264965    182
308975    225
129053    239
Name: product_id, Length: 10580, dtype: int64

In [107]:
tab_2_products[tab_2_products['user_id'] == 129053]

       user_id  order_id  ...  master_category_id  parent_category_id
41094   129053   5549752  ...               575.0                   9
41095   129053   5549752  ...               250.0                 243
41096   129053   5549752  ...               249.0                 243
41097   129053   5549752  ...               247.0                 243
41098   129053   5549752  ...               247.0                 243
...        ...       ...  ...                 ...                 ...
41328   129053   5626771  ...               596.0                  51
41329   129053   5626771  ...               587.0                 479
41330   129053   5626771  ...                29.0                  20
41331   129053   5626771  ...               578.0                   9
41332   129053   5626771  ...               261.0                 252

[239 rows x 11 columns]